@mixin topLeft($position: absolute){
	position: $position;
	top: 0;
	left: 0;	
}

@mixin vertical-align(){
	position: relative;
	top: 50%;
	-ms-transform: translateY(50%); /* IE 9 */
	-webkit-transform: translateY(50%); /* Chrome, Safari, Opera */
	transform: translateY(50%);
}

@mixin background-center(){
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
}
